In [56]:
import pandas as pd

In [80]:
documentA = 'the man went out for a walk'
documentB = 'the children sat around the fire'

In [81]:
bagOfWordsA = documentA.split(' ')
bagOfWordsB = documentB.split(' ')

In [82]:
uniqueWords = set(bagOfWordsA).union(set(bagOfWordsB))

In [83]:
numOfWordsA = dict.fromkeys(uniqueWords, 0)
for word in bagOfWordsA:
    numOfWordsA[word] += 1
numOfWordsB = dict.fromkeys(uniqueWords, 0)
for word in bagOfWordsB:
    numOfWordsB[word] += 1

In [101]:
def computeTF(wordDict, bagOfWords):
    tfDict = {}
    bagOfWordsCount = len(bagOfWords)
    for word, count in wordDict.items():
        tfDict[word] = count / float(bagOfWordsCount)
    return tfDict

In [102]:
tfA = computeTF(numOfWordsA, bagOfWordsA)
tfB = computeTF(numOfWordsB, bagOfWordsB)

In [103]:
def computeIDF(documents):
    import math
    N = len(documents)
    
    idfDict = dict.fromkeys(documents[0].keys(), 0)
    for document in documents:
        for word, val in document.items():
            if val > 0:
                idfDict[word] += 1
    
    for word, val in idfDict.items():
        idfDict[word] = math.log(N / float(val))
    return idfDict

In [104]:
idfs = computeIDF([numOfWordsA, numOfWordsB])

In [105]:
def computeTFIDF(tfBagOfWords, idfs):
    tfidf = {}
    for word, val in tfBagOfWords.items():
        tfidf[word] = val * idfs[word]
    return tfidf

In [106]:
tfidfA = computeTFIDF(tfA, idfs)
tfidfB = computeTFIDF(tfB, idfs)
df = pd.DataFrame([tfidfA, tfidfB])

In [107]:
df

,the,for,children,walk,a,out,sat,went,fire,around,man
0,0.0,0.099021,0.000000,0.099021,0.099021,0.099021,0.000000,0.099021,0.000000,0.000000,0.099021
1,0.0,0.000000,0.115525,0.000000,0.000000,0.000000,0.115525,0.000000,0.115525,0.115525,0.000000

In [108]:
vectorizer = TfidfVectorizer()
vectors = vectorizer.fit_transform([documentA, documentB])
feature_names = vectorizer.get_feature_names()
dense = vectors.todense()
denselist = dense.tolist()
df = pd.DataFrame(denselist, columns=feature_names)

In [109]:
df

,around,children,fire,for,man,out,sat,the,walk,went
0,0.000000,0.000000,0.000000,0.42616,0.42616,0.42616,0.000000,0.303216,0.42616,0.42616
1,0.407401,0.407401,0.407401,0.00000,0.00000,0.00000,0.407401,0.579739,0.00000,0.00000

In [39]:
story = 'annn_1_copykjk;l_copy_11'

In [40]:
import re
if re.match(r"^.+copy_([0-9]+)$", story) is not None:
    print(2)
    copy_num = int(story[-1]) + 1
    story_name = story[:-1] + str(copy_num)
elif re.match(r"^.+copy$", story) is not None:
    story_name = story + "_1"
    print(1)
else:
    print(3)
    story_name = story + "_copy"

2

In [41]:
story_name

'annn_1_copykjk;l_copy_12'

In [106]:
import re

def get_copy_name(name):
    regexp = r'^.+copy(_([0-9]+))?$'
    match = re.search(regexp, name)
    
    if match is None:
        return '{}_copy'.format(name)
    
    if match[2] is None:
        return '{}_1'.format(name)
    
    number = match[2]
    return '{}{}'.format(name[:-len(number)], int(number) + 1)

In [113]:
get_copy_name('kek')

'kek_copy'